<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Check out this image!</h1>
<p>
  To see more amazing photos, just follow this link: <%= @url %>.
</p>
<p>It will be a miracle if you actually receive this!</p>
</body>
</html>
