<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Check out this image!</h1>

<p class='custom-text'> <%= @email_msg %> </p>

<%= image_tag attachments['file.jpg'].url %>

<p>
  To see more amazing photos, just follow this link: <%= @url %>.
</p>

</body>
</html>
