// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require rails_bootstrap_forms
 */

.footer {
  padding-top: 30px;
}

.image-form {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
}

