
<div class="col-md-4">
  <div class="card mb-4 shadow-sm p-3"> 
    <%= link_to image_tag(img.image_url, class: "card-img-top", width: 400), img %>
  </div> 
  <div id="tags">
    <% img.tag_list.each do |tag| %>
    <% tag %>
    <%= link_to tag, images_path(tag: tag) %>
    <% end %>
  </div>
</div>
