<section>
  <h1 id="header">
    Image
  </h1>
</section>

<section>
  <%= image_tag(@image.image_url) %>
  <% @image.tag_list.each do |tag| %>
    <%= tag %>
  <% end %>
</section>

<div class="field">
  <div class="control">
    <%= link_to 'Show All', images_path, class: 'button is-primary' %>
  </div>
  <div class="control">
    <%= link_to 'Share', share_image_path, class: 'button is-primary' %>
  </div>
</div>
