<html>
  <%= render "nav_header" %>

  <body>
    <div class="container one-image">
      <%= image_tag(@image.image_url) %>
      <h5>
        <% @image.tag_list.each do |tag| %>
          <%= tag %>
        <% end %>
      </h5>
    </div>

    <%= render "footer" %>
  </body>

</html>
